@model List<DataGov_API_Intro_6.Models.Food_Item>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>


@if (Model != null)
{
    //@Html.DisplayNameFor(model => model.)

    

 @foreach (var item in Model)
                        {
                                   <p style="color:red; font-size:18px">Description</p>
                                   @Html.DisplayFor(modelItem => item.description)
                                   <p style="color:red; font-size:18px">Nutrients : @Html.DisplayFor(modelItem => item.foodNutrients.Count)</p>
        @foreach (var ite in item.foodNutrients)
        {
            <p style="color:red; font-size:18px">Please select to View Nutrients</p>
            @Html.DisplayFor(modelItem => ite.amount)
            <p style="color:red; font-size:18px">Name</p>
            @Html.DisplayFor(modelItem => ite.nutrient.name)
            @Html.DisplayFor(modelItem => ite.nutrient.nutrient_type)
            
        }
        <p style="color:red; font-size:18px">Nutrient values of item end here</p>
}

}
